<div class="modal fixed inset-0 z-10">
    <ng-container [ngSwitch]="contentType">
        <div class="flex w-full h-screen modal-content" [class.justify-start]="position === 'left'" [class.justify-end]="position === 'right'">
          <ng-container *ngIf="position === 'left'">
            <div [class.animate__slideOutLeft]="!open" [class.animate__slideInLeft]="open" class="bg-white overflow-auto h-screen animate__animated animate__faster" [ngStyle]="{'width': width}">
              <div class="flex flex-col w-full h-full divide-y">
                <div class="h-auto p-4 w-full flex justify-between space-x-4">
                  <div class="flex flex-wrap content-center h-full">
                    <label class="text-base font-bold cursor-pointer ">{{title}}</label>
                  </div>
                  <div class="flex flex-col">
                    <div class="flex flex-wrap content-center h-full">
                      <i class="pi pi-times text-lg hover:cursor-pointer" (click)="close()"></i>
                    </div>
                  </div>
                </div>
                <div class="p-5 h-full w-full grow overflow-auto">
                  <ng-container *ngSwitchCase="'string'">
                    <div [innerHTML]="content"></div>
                  </ng-container>

                  <ng-container *ngSwitchCase="'template'">
                    <ng-container *ngTemplateOutlet="$any(content); context: context"></ng-container>
                  </ng-container>

                  <ng-container *ngSwitchCase="'component'">
                    <ng-container *ngComponentOutlet="$any(content)"></ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="position === 'right'">
            <div [class.animate__slideOutRight]="!open" [class.animate__slideInRight]="open" class="bg-white overflow-auto h-screen animate__animated animate__faster" [ngStyle]="{'width': width}">
              <div class="flex flex-col w-full h-full divide-y">
                <div class="h-auto p-4 w-full flex justify-between space-x-4">
                  <div class="flex flex-wrap content-center h-full">
                    <label class="text-base font-bold cursor-pointer ">{{title}}</label>
                  </div>
                  <div class="flex flex-col">
                    <div class="flex flex-wrap content-center h-full">
                      <i class="pi pi-times text-lg hover:cursor-pointer" (click)="close()"></i>
                    </div>
                  </div>
                </div>
                <div class="p-5 h-full w-full grow overflow-auto">
                  <ng-container *ngSwitchCase="'string'">
                    <div [innerHTML]="content"></div>
                  </ng-container>

                  <ng-container *ngSwitchCase="'template'">
                    <ng-container *ngTemplateOutlet="$any(content); context: context"></ng-container>
                  </ng-container>

                  <ng-container *ngSwitchCase="'component'">
                    <ng-container *ngComponentOutlet="$any(content)"></ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
    </ng-container>
</div>
