<div class="modal fixed inset-0 z-[999] flex" [class.justify-start]="position === 'left'" [class.justify-end]="position === 'right'">
    <ng-container [ngSwitch]="contentType">
        <ng-container *ngIf="position === 'left'">
            <div [class.animate__slideOutLeft]="!open" [class.animate__slideInLeft]="open" class="modal-content bg-white overflow-auto h-screen animate__animated animate__faster" [ngStyle]="{'width': width}">
                <div class="flex flex-col w-full h-full divide-y">
                    <ng-container *ngSwitchCase="'string'">
                        <div [innerHTML]="content"></div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'template'">
                        <ng-container *ngTemplateOutlet="$any(content); context: context"></ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'component'">
                        <ng-container *ngComponentOutlet="$any(content)"></ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="position === 'right'">
            <div [class.animate__slideOutRight]="!open" [class.animate__slideInRight]="open" class="modal-content bg-white overflow-auto h-screen animate__animated animate__faster" [ngStyle]="{'width': width}">
                <div class="flex flex-col w-full h-full divide-y">
                    <ng-container *ngSwitchCase="'string'">
                        <div [innerHTML]="content"></div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'template'">
                        <ng-container *ngTemplateOutlet="$any(content); context: context"></ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="'component'">
                        <ng-container *ngComponentOutlet="$any(content)"></ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
