<div class="flex w-full items-center justify-between space-x-3">
  <div class="flex items-center w-full" [class.space-x-2]="type === 'detailed'">
    <ng-container *ngFor="let item of steps; let i = index">
      <hr [class.border-blue-500]="selectedIndex === i && color === 'primary' || selectedIndex > i && color === 'primary'"
          [class.border-green-500]="selectedIndex === i && color === 'success' || selectedIndex > i && color === 'success'"
          [class.border-red-500]="selectedIndex === i && color === 'danger' || selectedIndex > i && color === 'danger'"
          [class.border-amber-500]="selectedIndex === i && color === 'warning' || selectedIndex > i && color === 'warning'"
          class="w-full border-[2px]">
      <div *ngIf="type === 'detailed'"
           [class.bg-blue-500]="selectedIndex === i || selectedIndex > i && color === 'primary'"
           [class.bg-green-500]="selectedIndex === i || selectedIndex > i && color === 'success'"
           [class.bg-red-500]="selectedIndex === i || selectedIndex > i && color === 'danger'"
           [class.bg-amber-500]="selectedIndex === i || selectedIndex > i && color === 'warning'"
           [class.bg-sky-500]="selectedIndex === i || selectedIndex > i && color === 'info'"
           [class.bg-gray-400]="selectedIndex < i" class="text-white rounded-full p-5 w-10 h-10 text-lg flex items-center justify-center">
        <span class="block whitespace-nowrap">{{i+1}}</span>
      </div>
    </ng-container>
  </div>

  <span *ngIf="type === 'basic'"
        [class.text-blue-500]="color === 'primary'"
        [class.text-green-500]="color === 'success'"
        [class.text-red-500]="color === 'danger'"
        [class.text-amber-500]="color === 'warning'"
        [class.text-sky-500]="color === 'info'"
        class="block whitespace-nowrap text-lg font-[500px]">Step {{selectedIndex+1}} of {{stepCount}}</span>
</div>

